body {
margin: 0;
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'fira sans', 'droid sans', 'Helvetica Neue', sans-serif;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, menlo, monaco, consolas, 'courier new', monospace;
}

/* instalação das fontes do projeto */

@font-face {
    font-family: Montserrat-Thin;
    src: url(./montserrat/Montserrat-Thin.ttf);
}

@font-face {
    font-family: Montserrat-Regular;
    src: url(./montserrat/Montserrat-Regular.ttf);
}

@font-face {
    font-family: Montserrat-Medium;
    src: url(./montserrat/Montserrat-Medium.ttf);
}

@font-face {
    font-family: Montserrat-Light;
    src:
     url(./montserrat/Montserrat-Light.ttf);
}
@font-face {
    font-family: Montserrat-Italic;
    src: url(./montserrat/Montserrat-Italic.ttf);
}

@font-face {
    font-family: Montserrat-Bold;
    src: url(./montserrat/Montserrat-Bold.ttf);
}

@font-face {
    font-family: Montserrat-Black;
    src: url(./montserrat/Montserrat-Black.ttf);
}